#root {
  
}

.custom-container {
  width: 1280px;
  margin: auto;
}

@media (max-width: 1280px) {  
  .custom-container {
    width: 1024px;
  }
}

@media (max-width: 1024px) {  
  .custom-container {
    width: 768px;
  }
}

@media (max-width: 768px) {  
  .custom-container {
    width: auto;
  }
}